h1{
  font-family: "futura-pt",sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  }

h2{
  font-family: "futura-pt",sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}

h3{
	  font-family: "futura-pt",sans-serif;
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  line-height: 2em;
}

h4{
  font-family: "futura-pt",sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  line-height: 2em;
}

h5{
  font-family: "futura-pt",sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  line-height: 2em;
}


.nav-row a{
  color: black;
}

p{
	font-family: "futura-pt",sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px
}

body{
  overflow-y: auto;
}



.nav-row {
	margin: 0px;
	border-bottom: .5px solid black;
	background-color: white;
	align-items: center;
	padding: 23px 15px 15px 15px;


}
.logo{
	font-family: futura;
	justify-content: center;
	text-align: center;

}

.logo a:hover{
      text-decoration: none;
    cursor: pointer;
}

.logo-side{
	justify-content: flex-end;
}



.row-hero{
  padding: 0px;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.hero-image {
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;

}

.hero-image img{
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.row-tagline{
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  text-align: center;
  margin: 0px;
}



.col-tagline{
  padding: 200px 100px 200px 100px;
}

.row-contact{
  width: 100%;
  justify-content: center;
}

.row-contact-form-1{
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
}

.col-contact-form{
  padding: 25px;
}

.col-contact-form-message{
  width: 100%;
  padding: 0px 25px 0px 25px;
}

.col-contact-form-submit{
  width: 100%;
  padding: 25px 25px 200px 25px;
}

.col-contact h4{
  padding: 150px 0px 100px 0px;
  text-align: center;
}

input[type=text] {
    border: 2px solid black;
    border-radius: 0px;
      font-family: "futura-pt",sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
  color: black;
  line-height: 2em;
}
input[type=text]:focus, textarea:focus {
    border: 2px solid #e6e6e6;
  box-shadow: 0 0 0px rgba(81, 203, 238, 1);
}

.row-contact-message{
  padding: 25px 0px 25px 0px;
}

.form-control {
    border: 2px solid black;
    border-radius: 0px;
      font-family: "futura-pt",sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
  color: black;
  line-height: 2em;
}
.form-control:focus, textarea:focus {
    border: 2px solid #e6e6e6;
  box-shadow: 0 0 0px rgba(81, 203, 238, 1);
}
.submit-button{
  border: 2px solid black;
  width: 100%;
      font-family: "futura-pt",sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
  color: black;
  line-height: 2em;
  background-color: white;
}

.form-submitted{

  background-color: #e6e6e6;

}



.about-hero-row{
  padding: 100px 0px 100px 0px;
  margin: 0px;
  justify-content: center;
  align-items: flex-start;
}

.about-hero-photo {
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 100px;
  margin: 0px;
  width: 50%;

}

.about-hero-photo img{
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.about-hero-text {
  padding: 0px 100px 0px 20px;
  width: 50%;
}

.row-client-list {
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  margin: 0px;
  background-color: #E6E6E6;
  padding: 50px 50px 100px 50px;
  flex-direction: column;
}

.row-client-list-title{
  text-align: center;
  width: 100%;
  align-items: center;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.row-client-list-names{
  justify-content: center;
  align-items: flex-start;
  width: 100%;

}

.client-list-names{
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;

}

.row-press {
  justify-content: center;
  align-items: flex-start;
  flex-basis: 100%;
  margin: 0px;
  padding: 50px 0px 100px 0px;
  flex-direction: column;
}

.row-press a:hover{
    text-decoration: none;
    cursor: pointer;
}

.col-press-examples a{
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;

}

.col-press-examples{
  width: 50%;
}


.row-press-title{
  text-align: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  width: 100%;
}

.row-press-examples-1{
 
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  padding: 0px 75px 0px 75px;

}

.row-press-examples-2{
 
  width: 100%;
  align-items: flex-start;
  justify-content: center;
    flex-direction: row;
      padding: 0px 75px 0px 75px;

}
.col-press-examples{
    width: 100%;
    align-items: left;
    justify-content: flex-start;
  padding: 10px 30px 10px 30px;
}

.col-press-examples img{
    width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  padding: px 0px 0px 0px;

}

.press-example-title{
    font-weight: 600;
    padding: 10px 0px 0px 0px;

}

.press-example-info{
  padding: 0px;
  line-height: 1.5em;
}

.press-example-info-date{
  padding: 0px;
  line-height: 1.5em;
  font-style: italic;
}

.row-about-contact {
  flex-basis: 100%
}

.col-about-contact{
  justify-content: center;
}
.col-about-contact a:hover{
    text-decoration: none;
    cursor: pointer;

}


.img-col img{
  height: auto;
  width: 100%;
}

.img-col{
  padding: 15px;
   width: 33.25%;
}

.work-row-1{
  flex-basis: 100%;
  padding: 15px 15px 0px 15px;

}

.work-row-2{
  flex-basis: 100%;
  padding: 0px 15px 0px 15px;
}

.work-row-3{
    flex-basis: 100%;
  padding: 0px 15px 15px 15px;
}





.row-footer{
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px;
    background-color: black;

}


.col-links{
  padding: 75px 75px 75px 75px;
  justify-content: center;
}

.col-links a{
  font-family: "futura-pt",sans-serif;
  font-size: 12px;
  letter-spacing: 1.4px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 0px 25px 0px 25px;
  color: white;
}




/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .img-col {
    width: 100%;
    padding: 5px;

  }

  .work-row-1{
    flex-direction: column;
    padding: 10px 10px 5px 10px;
  }

    .work-row-2{
    flex-direction: column;
    padding: 5px 10px 5px 10px;
  }

    .work-row-3{
    flex-direction: column;
    padding: 5px 10px 10px 10px;
  }

  .about-hero-row{
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 50px 0px;
  }

  .about-hero-photo{
    width: 100%;
    padding: 0px 50px 0px 40px;
  }

  .about-hero-text{
    width: 100%;
    padding: 25px 50px 0px 53px;
  }

    .row-client-list-names{
    flex-direction: column;
    align-items: center;
  }

  #client-list-spacer{
    display: none;
  }


  .row-press-examples-1{
    flex-direction: column;
    width: 100%;
    padding: 0px 15px 0px 15px;
  }
    .row-press-examples-2{
    flex-direction: column;
    width: 100%;
        padding: 0px 15px 0px 15px;
  }

  .col-press-examples{
    width: 100%;
  }

  .col-about-contact h5{
    font-size: 13px;
  }

  .col-tagline h3{
    font-size: 15px;
  }

  .col-tagline{
    padding: 50px;
  }

  .row-contact{
  padding: 0px;
}

.col-contact h4{
  padding: 100px 0px 50px 0px;
}

.row-contact-form-1{
  flex-direction: column;
}

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

  .img-col {
    width: 100%;
    padding: 5px;
  }

  .img-col a{
    width: 100%;
  }
 

  .work-row-1{
    flex-direction: column;
    padding: 20px 20px 10px 20px;
  }

    .work-row-2{
    flex-direction: column;
    padding: 10px 20px 10px 20px;
  }

    .work-row-3{
    flex-direction: column;
    padding: 10px 20px 20px 20px;
  }

 .about-hero-row{
    flex-direction: column;
    align-items: center;
    padding: 75px 0px 75px 0px;
  }

  .about-hero-photo{
    width: 100%;
    padding: 0px 75px 0px 65px;
  }

  .about-hero-text{
    width: 100%;
    padding: 50px 75px 0px 77px;
  }

  .row-client-list-names{
    flex-direction: column;
    align-items: center;
  }

  #client-list-spacer{
    display: none;
  }


  .row-press-examples-1{
    flex-direction: column;
    width: 100%;
  }
    .row-press-examples-2{
    flex-direction: column;
    width: 100%;
  }

  .col-press-examples{
    width: 100%;
  }

    .col-tagline h3{
    font-size: 20px;
  }

  .col-tagline{
    padding: 75px;
  }

  .row-contact{
  padding: 0px;
}

.col-contact h4{
  padding: 100px 0px 50px 0px;
}

body{
  width: 100%;
}

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

  .img-col {
/*    width: 100%;*/
    padding: 5px;
  }

  .img-col a{
    width: 100%;
  }


  .work-row-1{
/*    flex-direction: column;*/
    padding: 20px 20px 10px 20px;
  }

    .work-row-2{
/*    flex-direction: column;*/
    padding: 10px 20px 10px 20px;
  }

    .work-row-3{
/*    flex-direction: column;*/
    padding: 10px 20px 20px 20px;
  }

    .col-tagline{
    padding: 100px;
  }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {



}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 


}



